@import "./../../assets/styles/vars";

.header {
  background-color: $light-color;
  height: $header-height;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  align-items: center;
}

.logo {
  width: 85px;
  margin-right: $indent-between-header-nav-items;
  object-fit: cover;
}

.link {
  color: $main-color;
  transition: .2s;

  &:hover {
    color: $dark-color;
  }
}

.nav {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
    align-items: center;
    gap: $indent-between-header-nav-items;

    &__item {
      composes: link;
    }
  }
}

.additionalTools {
  display: flex;
  align-items: center;
  &__phone {
    font-size: 18px;
    color: $main-color;
    font-weight: 600;
    margin-right: 1em;
    transition: .3s;
    &:hover {
      color: $dark-color;
    }
  }
}