$main-color: #6F4125;
$secondary-color: #fff;
$dark-color: #333333;
$light-color: #F6EEE9;
$strong-color: #CE4340;


$indent-between-header-nav-items: 30px;

$header-height: 90px;

$main-font-size: 14px;